@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";
@import "footer";

@if $td-enable-google-fonts {
  @import url($web-font-path);
}

footer {
  min-height: 150px;

  @include media-breakpoint-down(md) {
    min-height: 200px;
  }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id]:before,
  h3[id]:before,
  h4[id]:before,
  h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden;
  }
}

@import "styles_project";

.white-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 425px;
}
.white-tile--cert {
  padding: 20px 40px;
}
.white-tile {
  background-color: #fff;
  padding: 50px 40px;
  margin: 20px;
  box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.16);
  flex: 0 0 calc(50% - 40px);
}

.home-logo {
  width: 200px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  display: hidden;

  @media only screen and (min-width: 1024px) {
    display: block;
  }
}

.Cert__about-icon-container {
  width: 200px;
  height: 200px;
  margin: auto;
}

.Cert__about-icon {
  position: relative;
  padding-top: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cert__about-icon > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.Cert__about-icon .hex {
  width: 100%;
  height: 100%;
}

.Cert__about-icon .icon {
  object-fit: contain;
  width: 100%;
  height: 30px;
}

.white-tile__title {
  margin: 0 0 30px;
  font-size: 24px;
}

.remove-padding-y {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.remove-padding-t {
  padding-top: 0px !important;
}

.enterprise-page {
  position: relative;
  width: 100%;
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1a1a1a;
  background: #f1f1f1;

  @include media-breakpoint-up(md) {
    justify-content: start;
    padding: 180px 40px 100px;
  }
}

.enterprise-page h1 {
  font-size: 2.2rem;
  margin-bottom: 0rem;
}

.enterprise-page p {
  font-size: 18px;
}

.enterprise-page__box {
  max-width: 30rem;
}

.enterprise-pill {
  max-width: 25rem;
  padding: 2rem;
  color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 1px rgba(250, 250, 250, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(247deg, rgb(195, 55, 100), rgb(29, 38, 113));
  position: relative;
}

.enterprise-pill p {
  margin: 0;
}

.enterprise-pill h1 {
  transition: transform 1.5s ease-in-out;
  margin-bottom: 5px;
  transform-origin: 0 50%;
}

.enterprise-pill:hover h1 {
  color: #fff;
  transform: scale(1.05);
}

.enterprise-pill:hover p {
  color: #fff;
}

.enterprise-svg {
  position: absolute;
  top: 0;
  right: 0;
  fill: white;
  opacity: 0.05;
  width: 80%;
  display: block;
  pointer-events: none;
}
